<div class="row transfer justify-content-center">
    
    <div class="col-lg-3 transfer__from"
        [ngClass]="{'active': selectedBox === 'from','col-lg-6': selectedBox === 'from'}">
        <div class="transfer__from__title">
            <h4 *ngIf="selectedBox === 'from'">რომელი ანგარიშიდან გსურთ გადარიცხვა?</h4>
        </div>
        <div class="transfer__from__img">
            <div class="transfer__from__img__container">
                <fa-icon [icon] = 'faWallet'></fa-icon>
            </div>
        </div>
        <div class="transfer__from__btn pt-0">
            
            <div *ngIf="isWalletSelected" 
                 class="d-flex justify-content-center align-items-center">
                <div style="height: 70px;"   
                    class="d-flex align-items-center" *ngFor="let wallet of selectedWallet">
                    <div class="">
                        <p  style="font-size: 14px;"> {{ wallet.walletTypeName }} </p>
                    </div>
                </div>
            </div>
            
            <button (click)="onBoxSelect('from', 'from')"
                    class="btn--dark py-1"
                    *ngIf="selectedBox === 'to' || selectedBox === 'amount'; else showBtn"
                    >
                    შეცვლა
            </button>

            <ng-template #showBtn>
                <div class="" style="position: relative;">
                    <button *ngIf="allWallets.length > 0" (click)="onBoxSelect('from', 'from')" class="transparent"> 
                        აირჩიე ანგარიში 
                        <fa-icon [icon] = 'faChevronDown'></fa-icon>
                    </button>
      
        
                    <div class="templates w-100" *ngIf="selectedCategory === 'from'">
                        <div *ngIf="allWallets.length > 0 ; else showLoading" class="templates__new" style="top: 30px;">
                           
                            <div class="templates__new__my" 
                                 *ngFor="let wallet of allWallets"
                                 >
                                 <div class="row m-0 w-100" 
                                      (click)="onWalletSelect(wallet)">
                                    <div class="col-3 templates__new__img py-2">
                                        <div class="templates__new__img__container">
                                            <img src="assets/img/card.png" alt="">
                                        </div>
                                    </div>
            
                                    <div class="col templates__new__my__info">
                                        <div class="templates__new__my__info__name h-100">
                                            <p class="h-100 d-flex align-items-center"> {{ wallet.walletTypeName }} </p>
                                        </div>
                                    </div>
    
                                 </div>  
                               
                            </div>
                        </div>
                        <ng-template #showLoading>
                            <div class="w-100 d-flex justify-content-center">
                                <img src="assets/img/load.gif" alt="">
                            </div>
                        </ng-template>
                     </div>
                </div>  


            </ng-template>
            
        </div>
    </div>

    <div class="col-lg-3 transfer__to"
         [ngClass]="{'active': selectedBox === 'to', 'col-lg-6': selectedBox === 'to'}">
        <div class="transfer__to__title">
            <h4 *ngIf="selectedBox === 'to'">მობილურის ნომერზე?</h4>
        </div>
        <div class="transfer__to__img">
            <div class="transfer__to__img__container">
                <fa-icon [icon] = 'faMobile'></fa-icon>
            </div>
        </div>
        
        <div class="transfer__to__btn pb-3 pt-0">
            <div class="" *ngIf="!isNewPaySelected; else showNewPayContent">
            <div class="" style="position: relative;">
                <ng-template #showBtn1>
                    <button class="transparent" (click)="onBoxSelect('to', 'to')"> 
                        აირჩიე მიმღები
                        <fa-icon [icon] = 'faChevronDown'></fa-icon>
                    </button>
                     
                </ng-template>
    
                <div class="transfer__to__template " *ngIf="isTemplateSelected">
                    <div class="" *ngFor="let template of selectedTemplate">
                        <div class="d-flex justify-content-center">
                            <p *ngIf="isNewTemplate"> 
                                {{ template['providerTitle'] }} 
                            </p>
                            <p *ngIf="!isNewTemplate"> {{ template['name'] }} </p>
                        </div> 
                        <div class="d-flex justify-content-center">
                            <p class="m-0" 
                              *ngIf="isNewTemplate"> 
                                {{ template['abonentCode'] }} 
                            </p>  
                            <p *ngIf="!isNewTemplate"> 
                                {{ template['parameters'][2]['value'] }} 
                            </p>
                        </div>
                    </div>  
                </div>
                
                <div class="templates w-100" *ngIf="selectedCategory === 'to'">
                    <div class="templates__new">
                        <button class="d-flex py-2 justify-content-center transparent"
                                (click)="showNewPayment()">
                                <fa-icon style="font-size: 30px;" 
                                         [icon] = 'faPlusCircle'></fa-icon>
                                <span class="ml-3">ახალი მიმღები</span>
                        </button>
                       
                        <div class="templates__new__my" 
                             *ngFor="let item of allTemplates; let i = index"
                             > 
                             <div class="row m-0 w-100">
                                  <div class="col-9 d-flex d-flex align-items-center" 
                                       (click)="onTemplateSelect(item, false)">
                                      <div class="col-3 templates__new__my__img">
                                         <div class="templates__new__my__img__container"
                                              style="width: 50px; height: 50px;">
                                             <img [src]="'data:image/jpeg;base64,'+item.logo" 
                                                  class="w-100 h-100"
                                                  alt="">
                                         </div>  
                                      </div>

                                      <div class="col-7 templates__new__my__info">
                                          <div class="templates__new__my__info__name">
                                              <p> {{ item.name }} </p>
                                          </div>
                                          <div class="templates__new__my__info__phone">
                                              <p> {{ item.transferTo }} </p>
                                          </div>
                                      </div>
                                    </div>
                                  
        

                                <div class="col templates__new__my__delete d-flex align-items-center justify-content-center">
                                    <fa-icon style="cursor: pointer; z-index: 4;" 
                                             [icon] = 'faTrashAlt'
                                             (click)="deleteTemplate(item, i)"></fa-icon>
                                </div>

                             </div>  
                           
                        </div>
                    </div>
                 </div>
            </div>
            <ng-container *ngIf="selectedTemplate.length > 0">
                <button *ngIf="selectedBox === 'amount' || selectedBox === 'from'; else showBtn1" 
                        (click)="onBoxSelect('to', 'to')"
                         class="btn--dark py-1">
                    შეცვლა
                </button>
            </ng-container>
            
           
            </div>

            <ng-template #showNewPayContent>
                <app-add-mobile-to-templates (result) = 'getResult($event)'></app-add-mobile-to-templates>
            </ng-template>
            
           

        </div>
    </div>

    <div class="col-lg-3 transfer__amount pb-4"
         [ngClass]="{'active': selectedBox === 'amount', 'col-lg-6': selectedBox === 'amount'}">
        <div class="transfer__amount__title">
            <h4 *ngIf="selectedBox === 'amount'">შეიყვანე თანხა</h4>
        </div>
        <div class="transfer__amount__img">
            <div class="transfer__to__img__container">
               <fa-icon [icon] = 'faCoins'></fa-icon>
            </div> 
        </div>
        <div class="transfer__amount__btn">
           
            <div class="w-100 d-flex justify-content-center" *ngIf="selectedBox === 'amount'">
                <input class="pl-3" 
                       type="text" 
                       [ngClass]="{'err': isAmountErr}"
                       placeholder="0.00" 
                       [(ngModel)]="amount"> 
            </div>

            <div class=" pt-4 transfer__amount__btn d-flex justify-content-center" *ngIf="selectedBox === 'amount'">
                <button class="btn btn--green py-1" (click)="openModal(otpModal,selectedTemplate[0])">გადარიცხვა</button>
            </div>
        </div>
    </div>
</div>




<ng-template #otpModal>
    <app-modal-header [title] = "'დაადასტურე'"></app-modal-header>
    <app-fill-mobile-confirm-modal [selectedAbonent] = 'fillMobileSchema' 
                                   [isFavourite] = 'selectedTemplate[0]["isFavourite"]'>

    </app-fill-mobile-confirm-modal>
</ng-template>   


