<ng-container *ngIf="!isSuccess; else showSuccess" >

<div class="row otp m-0 p-3">
    <div class="otp__line py-2 col-12 ">
        <p>ანგარიშიდან:</p>
        <span> {{ userData['fromWallet'] }} </span>
    </div>
    <div class="otp__line py-2 col-12">
        <p>ანგარიშზე:</p>
        <span> {{ userData['transferTo'] }} </span>
    </div>
    <div class="otp__line py-2 col-12">
        <p>თანხა:</p>
        <span> {{ userData['amount'] }} </span>
    </div>
    <div class="otp__line py-2 col-12">
        <p>საკომისიო:</p>
        <span> 1 ლარი </span>
    </div>
    <div class="otp__line py-2 col-12">
        <p>შეტყობინება მიმღებისთვის:</p>
        <span> {{ userData['description'] }} </span>
    </div>
    <div class="otp__line py-2 col-12">
        <p>SMS კოდი:</p>
        <div class="">
            <input type="text" [(ngModel)]="otpCode">
        </div>
    </div>
    <div class="otp__line py-2 col-12">
        <div class="">
            <span>თუ სმს კოდს არ მიიღებთ ერთი წუთის განმავლობაში,მოითხოვეთ
                <a> ახალი კოდი</a>
             </span>
        </div>
    </div>  

    <div class="otp__btn">
        <ng-container *ngIf="!isLoading; else showLoading">
            <button (click)="onSubmit(userData)">დადასტურება</button>
        </ng-container>

        <ng-template #showLoading>
                <app-loading-spinner></app-loading-spinner>
        
            
         
            
        </ng-template>
    </div>
    

</div>
</ng-container>
<ng-template #showSuccess>
    <app-transaction-processing></app-transaction-processing>
</ng-template>
             