@import 'src/assets/variables';
.box {

    &__content {
        padding: 20px;
        width: 100%;
        height: 100%;

        &__img {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
            &__container {
                width: 157px;
                height: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
        };

        &__description {
        height: 80px;
        width: 100%;
            p {
                text-align: center;
                font-size: 14px;
                color: $light-blue;
            }
        }; 


        &__button {
            // margin-top: 15px;
        }
    };

   
}