.templates {
    width: 90%;
    // padding: 10px;
    &__img {
        display: flex;
        justify-content: center;
        &__container {
            width: 140px;
            height: 140px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    };

    &__button {
        margin-top: 20px;
        padding-bottom: 10px;
    }
}