<div class="row justify-content-around mt-4">
    <div class="templates box col-lg-2" *ngFor="let item of templatesData">
        <div class="templates__img">
            <div class="templates__img__container">
                <img [src]="'data:image/jpeg;base64,'+ item.logo" 
                     style="object-fit: contain;" 
                     alt="">
            </div>
        </div> 
        <div class="templates__button d-flex justify-content-center">
            <button class="btn btn--green" 
                    (click) = 'openModal(modalContentTemplates, item)'>
                {{ 'payments.select' | translate }}    
            </button>
        </div>
    </div>
</div>

<ng-template #modalContentTemplates>    
    <app-modal-header [title] = 'selectedTemplate[0]["name"]'></app-modal-header>
    <div class="modal-body">
        <app-payments-templates-modal [templatesData] = 'selectedTemplate'></app-payments-templates-modal>
    </div>

</ng-template>

