@import 'src/assets/variables';

.nav {

    @media (max-width: 992px) {
        display: none;
      }; 


    &__logo {
       display: flex;
       align-items: center;
        &__container {
            // height: 40px;
            // width: 140px;
            
            img {
                outline: none;
                width: 100%;
                height: 100%;
                cursor: pointer;
               
            }
        }
    }


    display: flex;
    justify-content: center;
    height: 100%;

    .home {
        border-right: 1px solid $light-grey; 
    }
    &__item {
        display: inherit;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        display: flex;
        align-items: center; 
        
        .submenu {
            display: none;
            position: absolute;
            z-index: 23;
            background-color: white;
            width: 250px;
            padding: 20px;
          
            transform: translate(0px, -10px);
          &__item {

              button {  
                 font-weight: bolder;
                 font-size: 12px;
                 font-family: 'BPG Mrgvlovani' !important;
                 text-align: left;
                 margin-top: 10px;
 
                  &:hover {
                      border-color: $primary !important;
                      transition: .4s;
                  }; 
 
                  &:hover + #trasfer-funds {
                      color: yellowgreen;
                  }
 
 
              };
          }

             &:hover {
                 display: block;
             };

        };

        a, button {
            font-family: 'BPG WEB 001 Caps' !important;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            color: $dark-blue;
            text-decoration: none;
            font-family: 'BPG Mrgvlovani';
            font-size: 14px; 
            font-weight: bolder;
            border: none;
            background-color: transparent !important;
            outline: none;
            box-shadow: none !important;
            
            &:hover + .submenu {
                display: block;
           };

           &:hover {
               color: $primary;
               transition: .10s;
           }
        
        }
    }
};


.router-link-active {
    color: $primary !important;
    
};

  

.burger {
    display: none;
    z-index: 3;
    @media (max-width:(992px)) {
      display: block;
      position: absolute;
      right: 0;
      top: 20px;
    }; 
  
  };


  .hide {
    display: none !important;
  }

 
