<div class="container h-100 p-0">
    <div class="nav col-12 row justify-content-between p-0">
        <div class="nav__logo col-2">
            <div class="nav__logo__container">
                <img src="assets/img/kerketi.png" alt="">
            </div>
        </div>
        <div class="col d-flex p-0">
            <div class="nav__item home col-1">
                <a [routerLink]="['/user-profile/home']" 
                    routerLinkActive="router-link-active" 
                    style="font-size: 25px;">
                    <fa-icon [icon] = 'faHome'></fa-icon>
                </a> 
            </div>
        
            <div class="nav__item col-2">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" 
                            id="dropdownBasic1" 
                            ngbDropdownToggle
                            >
                            {{ "navigation.Transfer_funds" | translate }}
                    </button>  
                    <div class="submenu" 
                         ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button [routerLink]="['/user-profile/transfer/to-account-bank-card']" 
                              ngbDropdownItem
                              routerLinkActive="router-link-active" 
                              >
                              საკუთარ ანგარიშზე საბანკო ბარათით
                      </button>
                      <br> 
                      <button [routerLink]="['/user-profile/transfer/p2p']" 
                               ngbDropdownItem
                               >
                               სხვასთან მობილურის ნომრით
                      </button>
                      <button [routerLink]="['/user-profile/transfer/bank-transfer']" 
                              ngbDropdownItem
                              >
                              საბანკო ანგარიშზე გადარიცხვა
                     </button>
                      <br>
                     <button [routerLink]="['/user-profile/transfer/fill-mobile']" 
                              ngbDropdownItem
                              >
                              მობილურის შევსება
                     </button>
                      <button [routerLink]="['/user-profile/transfer/pay-bill']" 
                              ngbDropdownItem
                              >
                              კომუნალური გადახდები
                     </button>
                    </div>
                </div>

            </div>
            <div class="nav__item col-2">
                <a [routerLink]="['/user-profile/fill-ballance']"   
                    routerLinkActive="router-link-active" >
                    {{ "navigation.Fill_ballance" | translate }}
                </a> 
            </div>
            <div class="nav__item col-2">
                <a [routerLink]="['/user-profile/fund-cashing']"   
                    routerLinkActive="router-link-active" >
                    {{ "navigation.Fund_cashing" | translate }}
                    
                </a> 
            </div>
            <div class="nav__item col-2">
                <a [routerLink]="['/user-profile/transactions']"   
                    routerLinkActive="router-link-active" >
                 
                    ტრანზაქციები
                </a> 
            </div>
        </div>
          
    </div>
</div>


<div class="burger">
    <app-burger></app-burger>
</div>
