@import 'src/assets/variables';

.nav {

    @media (max-width: 992px) {
        display: none;
      }; 


    display: flex;
    justify-content: center;
    height: 100%;
    &__item {
       display: inherit;
        height: 100%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            color: #758192;
            text-decoration: none;
            border-bottom: 3px solid transparent;

            &:hover {
                 color: #071E3D ;
                 transition: .3s;
                border-bottom: 3px solid $primary;

            }
        
        }
    }
};


.router-link-active {
    color: #071E3D !important;
    border-bottom: 3px solid $primary !important;
};



.burger {
    display: none;
    z-index: 3;
    @media (max-width:(992px)) {
      display: block;
      position: absolute;
      right: 0;
      top: 20px;
    }; 
  
  }