@import 'src/assets/variables';

.nav {

    @media (max-width: 992px) {
        display: none;
      }; 


    display: flex;
    justify-content: center;
    height: 100%;
    &__item {
       display: inherit;
        height: 100%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            color: #fffafa;
            text-decoration: none;
            border-bottom: 4px solid transparent;
            font-family: 'BPG Mrgvlovani';
            font-size: 14px;


            &:hover {
                 color: white ;
                 transition: .3s;
                border-bottom: 4px solid $primary;

            }
        
        }
    }
};


.router-link-active {
    color: $primary !important;
    border-bottom: 4px solid $primary !important;
};



.burger {
    display: none;
    z-index: 3;
    @media (max-width:(992px)) {
      display: block;
      position: absolute;
      right: 0;
      top: 20px;
    }; 
  
  }