<ng-container *ngIf="lastTransactions.length > 0; else showLoading">
    <div class="row transactions m-0">
        <div class="transactions__title col-12">
            <h4 (click)="routeToTransactions()">ბოლო ტრაზაქციები</h4>
        </div>
    
        <div class="row m-0 w-100">
            <table style="width:100%"
                    *ngIf="lastTransactions.length > 0" >
            
                    <tr *ngFor="let item of lastTransactions">
                        <td class="pl-3"> {{ item.timestamp | date }} </td>
                        <td> {{ item.receiver }} </td>
                        <td> {{ item.type }} </td>
                        <td> {{ '₾ ' + item.amount }} </td>
                        <td [ngClass]="{'green': item.status === 'დასრულებული'}"    
                            class="pl-3"
                           > 
                            {{ item.status }} 
                        </td>
                    </tr>
              </table>
        </div>
    </div>
</ng-container>

<ng-template #showLoading>
    <div class="w-100 d-flex justify-content-center mt-5">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-template>