<div class="bill row">
    <div class="bill__main col-7 p-4">
        <div class="bill__main__title mb-5">
            <h4>აირჩიე წყარო, საიდანაც გსურს თანხის განაღდება</h4>
        </div>

 <!--  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  -->
 <div class="bill__main__templates row m-0 mt-3" >
    <div class="bill__main__templates__img col-lg-2">
        <div class="bill__main__templates__img__container">
            <img src="assets/img/crystal.png" alt="">
        </div>
    </div>

    <div class="bill__main__templates__name col-lg-7">
        <p>კრისტალის ფილიალებში გადაღდება</p>
    </div>
    
    <div class="bill__main__templates__btn col-lg-3">
        <button (click) = 'onCategorySelect("crystal")' class="btn--dark">
                არჩევა
        </button>

        <ng-template #showInput>
            <button class="btn--red" 
            >  
            წაშლა
            </button>
        </ng-template>

    </div>

</div>
 <!--  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  -->
 <div class="bill__main__templates row m-0 mt-3" >
    <div class="bill__main__templates__img col-lg-2">
        <div class="bill__main__templates__img__container">
            <img src="assets/img/intel_express.png" alt="">
        </div>
    </div>

    <div class="bill__main__templates__name col-lg-7">
        <p>ინტელ-ექსპრესის ფილიალებში განაღდება</p>
    </div>
    
    <div class="bill__main__templates__btn col-lg-3">
        <button (click) = 'onCategorySelect("intel-express")' class="btn--dark">
                არჩევა
        </button>

        <ng-template #showInput>
            <button class="btn--red" 
            >  
            წაშლა
            </button>
        </ng-template>
    </div>
</div>
<!--  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  -->
<div class="bill__main__templates row m-0 mt-3" >
    <div class="bill__main__templates__img col-lg-2">
        <div class="bill__main__templates__img__container">
            <img src="assets/img/liberty_logo.png" alt="">
        </div>
    </div>

    <div class="bill__main__templates__name col-lg-7">
        <p>Liberty ბანკის ბანკომატიდან განაღდება
            ელექტრონული პირადობის მოწმობით</p>
    </div>
    
    <div class="bill__main__templates__btn col-lg-3">
        <button (click) = 'onCategorySelect("liberty")' class="btn--dark">
                არჩევა
        </button>

        <ng-template #showInput>
            <button class="btn--red" 
            >  
            წაშლა
            </button>
        </ng-template>

    </div>

</div>

<!--  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  -->

    </div>

    <div class="bill__right col p-4">
        <div class="bill__right__title">
            <h4>ინსტრუქცია</h4>  
        </div>
   

        <ng-container >
            <div class="bill__right__text mt-5" *ngIf="!isSelected">
                <p>ინსტრუქციის მისაღებად გთხოვთ აირჩიოთ თქვენთვის სასურველი წყარო</p>
            </div>
            <div *ngIf="isSelected" class="mt-5" > 
                <div class="bill__main__templates__img w-100">
                    <div class="bill__main__templates__img__container"
                    style="width: 100px;">
                        <img [src]="selectedCategory['img']">
                    </div>
                </div>  
    
                <div class="bill__main__templates__name w-100 mt-3">
                    <p> {{ selectedCategory['name'] }} </p>
                </div>
    
                <div class="w-100 mt-3 bill__main__templates__dept ">
                    <p>აქ უნდა იყოს ინსტრუქცია ან ვიდეო</p>
                </div>

            </div>
        </ng-container>
    </div> 

</div>