@import 'src/assets/variables'; 

.transfer {

    &__img {
        display: flex;
        justify-content: center;
        &__content {
            width: 200px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }; 

    &__box {

        &__item {

            input {
                width: 100%;
                border: 1px solid $light-blue;
                height: 40px;
                outline: none;
                padding-left: 10px;
            };
            
            label {
                width: 100%;
                text-align: left;
                cursor: pointer;
                color: $light-blue;
            }

        }
    }
}