<ng-container *ngIf="!isPayed; else showPayed">
    
    <div class="row templates justify-content-center" *ngFor="let item of templatesData">
        <div class="">
            <div class="col-12 templates__item d-flex  justify-content-center mt-3">
                <div class="templates__item__img">
                    <div class="templates__item__img__content">
                        <img [src]="'data:image/jpeg;base64,'+ item.logo" 
                        style="object-fit: contain;
                               width: 100%;
                               height: 100%;">
                    </div>
                 
                </div>
            </div>
            
            <div class="col-12 templates__item d-flex justify-content-center mt-3">
                <p> {{ item.name }} </p>
            </div>
        
            
            <div class="col-12 templates__item d-flex justify-content-center mt-4">
                <div class="">
                    <div class="">
                        <label for="amount">
                            {{ 'payments.amount' | translate }}    
            
                        </label>
                    </div>
                    <div class="">
                        <input type="text" 
                               id="amount"
                               [placeholder]="(item.parameters[0].value === null ? 0 : item.parameters[0].value) + ' GEL'"
                               class="default-input"
                               [(ngModel)]="amount">
                    </div>
                </div>
                
            </div>
        
            <div class="col-12 templates__item d-flex justify-content-center mt-4 pb-4">
                <button class="btn btn--green" (click) = 'payBill(item.serviceId)'>
                    {{ 'payments.pay' | translate }}    
    
                </button>
            </div>
        </div>
        
        
    </div>

</ng-container>

<ng-template #showPayed>
        
    <div class="pay col" *ngIf="!isPayErr">
        <app-transaction-processing></app-transaction-processing>
    </div>
    
    <div class="pay col" *ngIf ='isPayErr'>
        <app-transaction-fail></app-transaction-fail>
    </div>

</ng-template>
