@import 'src/assets/variables'; 

.templates {

    &__item {

        &__img {

            &__content{
                width: 160;
                height: 140px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        };


    }
}


input {
    width: 100%;
    border: 1px solid $light-blue;
    height: 40px;
    outline: none;
    padding-left: 10px;
};

label {
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: $light-blue;
}
