<div class="row drafts m-0 p-4">

    <div class="drafts__title col-12 mt-4 mb-5">
        <h3> {{ 'payments.pay_with_templates' | translate }} </h3>
    </div>

    <div *ngFor="let item of templatesData; let i = index" class="drafts__card  col-lg-2 mb-4" 
       >
        <div class="drafts__card__content box w-100 h-100 py-3" 
             [ngClass]="{'active-card': item.isActive }"
             (click) = 'chooseUser(item)'>
            <div class="drafts__card__content__avatar">
                <div class="drafts__card__content__avatar__content">
                    <img [src]="'assets/img/1.svg'" alt="">
                </div>
            </div>
            
            <div class="drafts__card__content__name mt-4">
                <p> {{ item.name }} </p>
            </div>

            <div class="drafts__card__content__buttons w-100 d-flex justify-content-center">

                <div class="drafts__card__content__buttons__send">
                    <button class="btn btn--green"
                            (click) = 'openModal(modalContent)'
                            > 
                            {{ 'payments.select' | translate }}
                    </button>
                </div>
    
                <!--  -->
    
            </div>
        </div>

      

    </div>

</div>


<ng-template #modalContent>
    <app-modal-header [title] = '"P2P"'></app-modal-header>
    <app-p2p-templates-modal [selectedTemplate] = 'selectedTemplate'></app-p2p-templates-modal>
</ng-template>
