<div class="row drafts pb-4" >
    <ng-container *ngIf="!isSelected; else showSubCat">
        
        <div class="drafts__box col-lg-3 mt-5" *ngFor="let item of billersList">
            <div class="drafts__box__img d-flex justify-content-center">
                <div class="drafts__box__img__content">
                    <img [src]="'https://hierarchy-lable-logos.s3.eu-central-1.amazonaws.com/'+ item.name + '.png' "  alt>
                </div>
            </div>
            <div class="drafts__box__name mt-3" style="text-align: center;">
                <p> {{ item.title }} </p>
            </div>
            <div class="drafts__box__amount">
                <!-- <span> jdlasjdslkad </span> -->
            </div>  
            <div class="drafts__box__button d-flex justify-content-center">
                <button class="btn btn--red" (click) = 'selectBiller(item)' >
                    {{ 'payments.select' | translate }}
                </button>
            </div>    
        </div>

    </ng-container>

    <ng-template #showSubCat>
        
        <ng-container *ngIf="!isProviderSelected; else showPayForm">

            <div class="drafts__box col-lg-3 mt-5" *ngFor="let item of selectedCatList">
                <div class="drafts__box__img d-flex justify-content-center">
                    <div class="drafts__box__img__content">
                        <img [src]="'https://hierarchy-lable-logos.s3.eu-central-1.amazonaws.com/'+ item.name + '.png' "  alt>
                    </div>
                </div>
                <div class="drafts__box__name mt-3" style="text-align: center;">
                    <p> {{ item.title }} </p>
                </div>
                <div class="drafts__box__amount">
                    <!-- <span> jdlasjdslkad </span> -->
                </div>  
                <div class="drafts__box__button d-flex justify-content-center">
                    <button class="btn btn--red" (click) = 'selectProvider(item)'>Pay</button>
                </div>    
            </div>

        </ng-container>

        <ng-template #showPayForm>
            <form  action=""
                  class="w-100"
                  [formGroup]="mobileForm"
                  (ngSubmit)="payBill()" >
   

            <div class="col-12" *ngIf="!isPayed && !isErr">
              
                <div class="col-12 d-flex justify-content-center mt-3">
                    <input type="text" 
                           class="default-input" 
                           placeholder="Number" 
                           formControlName="abonentCode"
                           [ngClass]="{ invalid: f.abonentCode.errors && isSubmitted }"
                           >
                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                    <input type="text" 
                           class="default-input" 
                           placeholder="Amount" 
                           formControlName="billPayAmount"
                           [ngClass]="{ invalid: f.billPayAmount.errors && isSubmitted }"
                           >
                </div>
                <div class="col-12 d-flex justify-content-center mt-4">
                    <button class="btn btn--red"
                            type="submit" 
                            >
                            {{ 'payments.pay'  | translate }}
                    </button>
                </div>
            </div>

            <div *ngIf="isPayed" class="col-12">
                <app-transaction-processing></app-transaction-processing>
                <div class="mt-5 d-flex justify-content-center">
                    <button class="btn btn--red" 
                            type="button"
                            (click) = 'addToTemplates()'
                            style="width: auto;"
                            >
                    {{ 'payments.add_templates' | translate }}
                        
                    </button>
                </div>
            </div>
            <div *ngIf="isErr" class="col-12">
                <app-transaction-fail></app-transaction-fail>
            </div>
        </form>
        </ng-template>
        
        

    </ng-template>
    


</div>
