<div class="row auth px-0">

    <div class="col-xl-8 auth__box">
        
        <div class="auth__box__container">
            <div class="col-12 auth__box__container__title">
                <h3>ავტორიზაცია</h3>
            </div>      
            <form [formGroup]="userForm"
                  (submit) = 'getOtpCode()'  
                  class="auth__box__container__form"
                  >

                  <!-- * * * * * *  Phone and pass * * * * *   -->
                <ng-container *ngIf="!isOtpActive; else showOtp">
                    <div class="auth__box__container__form__input col-12">
                        <div class="auth__box__container__form__input__container">
                            <div class="">
                                <label for="username"
                                        #usernameLabel
                                        id="usernameLabel"
                                        >
                                    {{ 'login.username' | translate }}
                                </label>
                            </div>
                            <input type="text" 
                                   name="tel" 
                                   id="username"
                                   formControlName="msisdn"
                                   placeholder="მომხმარებლის მობილურის ნომერი"
                                   [ngClass]="{ invalid: f.msisdn.errors && isSubmitted }">
                        </div>
                    </div>
        
                    <div class="auth__box__container__form__input col-12">
                        <div class="auth__box__container__form__input__container">
                            <div class="">
                                <label for="password">
                                    {{ 'login.password' | translate }}
                                </label>
                            </div>
                            <input type="password" 
                                   name="password" 
                                   id="password"
                                   class="password"
                                   formControlName="pin"
                                   placeholder="პაროლი"
                                   [ngClass]="{ invalid: f.pin.errors && isSubmitted }"
                                   >
                                   
                        </div>
                    </div>
     
                    <div class="auth__box__container__form__input col-12 mb-2">
                        <div class="auth__box__container__form__input__container d-flex justify-content-between">
                            <p>
                                {{ 'login.forgot_password' | translate }}
                            </p>
                            
                        </div>
                    </div>

                    <div *ngIf="isErr" class="auth__box__container__form__err mb-2">
                        <ul>
                            <li>პაროლი უნდა შეიცავდეს !</li>
                            <li>მინიმალური სიმბოლოების რაოდენობა: 8</li>
                            <li>მინიმალური ციფრების რაოდენობა: 1</li>
                            <li>მინიმალური დიდი ასოს რაოდენობა: 1</li>
                            <li>მინიმალური პატარა ასოს რაოდენობა: 1</li>
                            <li>მინიმალური სხვა სიმბოლოს რაოდენობა: 1</li>
                        </ul>
                    </div>

                    <div class="auth__box__container__form__button col-12">
                        
                        <button class="btn--red" 
                                type="submit"
                                >
                                შესვლა
                        </button>

                    </div> 
                </ng-container>
                
                <ng-template #showOtp>
                    <app-login-otp (isOtpActive) = 'getOtpStatus($event)'
                                   [userData] = 'userForm'
                                   >

                    </app-login-otp> 
                </ng-template>
                
                


            </form>  
        </div>

     
        
    </div>

    <div class="right-banner row m-0 col-xl-4">
        
        <div class="right-banner__container mb-4">
            <div class="right-banner__container__register col-12">
        
                <div class="right-banner__container__register__icon d-flex justify-content-center">
                    <!-- <fa-icon [icon] = 'faUserCheck'></fa-icon> -->
                </div>
        
                <div class="right-banner__container__register__text">
                    <span>არ ხართ დარეგისტრირებული?</span>
                </div>
        
                <div class="right-banner__container__register__button">
                    <button class="btn--red"
                            [routerLink]="['/main/register']" 
                            routerLinkActive="router-link-active" >რეგისტრაცია</button>
                </div>
            </div>
        </div>

        <div class="right-banner__mobile d-flex w-100">
            <div class="right-banner__mobile__container col-12">
                <div class="right-banner__mobile__container__title">
                    <p>ისარგებლეთ კერკეტის განახლებული <span>მობაილ ბანკით</span></p>
                </div>  
                <div class="right-banner__mobile__container__text">
                    <p>გადმოწერეთ <span>IOS</span> და <span>Android</span></p>
                </div>
                <div class="d-flex justify-content-between pb-4">
                    <div class="right-banner__mobile__container__img">
                        <img src="assets/img/app-store.png" alt="">
                    </div>
                    <div class="right-banner__mobile__container__img">
                        <img src="assets/img/google-play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
 

</div>