<div class="bank p-4 d-flex justify-content-center">

    <form [formGroup] = 'bankForm' 
          (ngSubmit)="onSubmit()" 
          class="col-6 ">
        <div class="bank__img">
            <div class="bank__img__container">
                <img src="assets/img/tbc-logo.png" alt="">
            </div>
        </div>
        <div class="col-12 mt-4">
            <label for="amount">
                {{ 'fill_ballance.amount' | translate }}
            </label>
            <input type = 'number' 
                   id="amount"
                   class="default-input" 
                   placeholder=""
                   formControlName="amount"
                   [ngClass]="{ invalid: f.amount.errors && isSubmitted }">
        </div>
        <!-- <div class="col-12 d-flex justify-content-center mt-4">
            <select>
                <option>GEL</option>
                <option>USD</option>
            </select>
        </div> -->
        <div class="col-12 mt-4">
            <label for="description">
                {{ 'fill_ballance.description' | translate }}
            </label>
            <input type = 'text' 
                   id="description"
                   class="default-input" 
                   placeholder="">
        </div>
        <div class="col-12 d-flex justify-content-center mt-4">
            <button *ngIf="!isLoading"
                    class="btn btn--red" 
                    type="submit"
                    >
                    {{ 'fill_ballance.pay' | translate }}
            </button>
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
    </form>
</div>
