.user {
    align-items: center;
    &__logo {
        &__img {
            padding: 20px;
            border-radius: 50%;
            background-color: white;
        }
    }
    &__button {
        span {
            cursor: pointer;
        }
    }
}