<div class="row justify-content-around mt-4 p-0">
    <div class="new-payment col-12 pt-4 pb-5 d-flex px-4">
        <div class="row justify-content-between">
            <div class="new-payment__button d-flex col-lg-6 d-flex justify-content-center pb-4">
                <p (click)="routeToBillers()">{{ 'payments.new_payment' | translate }}
            
            </div>
    
            <div class="new-payment__button col-lg-6 d-flex justify-content-center pb-4">
             <p (click)="openModal(mobileModal)">{{ 'payments.fill_mobile_ballance' | translate }}</p>   
            </div>
        </div>
        
    </div>
    <ng-container *ngIf="templatesData.length > 0; else showLoading">
    <div class="templates  row col-12 p-3 align-items-center" *ngFor="let item of templatesData">
            <div class="templates__img col-lg-2">
                <div class="templates__img__container">
                    <img [src]="'data:image/jpeg;base64,'+ item.logo" 
                         style="object-fit: contain;" 
                         alt="">
                </div>
            </div> 
            <div class="templates__dept col-lg-8" >

                <ng-container *ngIf="item.deptData; else showDeptLoading">
                    <div class="templates__dept__text d-flex"*ngFor="let dept of item.deptData; index as i">
                        <p *ngIf="i === 1 || i === 2 || i ===3"> 
                            {{ dept.texts + ': '}} 
                        </p>
                        <span *ngIf="i === 1 || i === 2 || i === 3"> 
                            {{ dept.value === '0.0' ? 0 : dept.value }} 
                        </span>
                    </div>
                </ng-container>
              
                <ng-template #showDeptLoading>
                    <div class="w-100 d-flex justify-content-center">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                </ng-template>
                
    
            </div>
            <div class="templates__button d-flex justify-content-center col-lg-2 mt-3">
                <button class="btn btn--green" 
                        (click) = 'openModal(modalContentTemplates, item)'
                        style="height: 37px;">
                    {{ 'payments.pay' | translate }}    
                </button>
            </div>
        </div>
    </ng-container>

        <ng-template #showLoading>
            <div class="col-12 d-flex justify-content-center">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </ng-template>
   
</div>

<ng-template #modalContentTemplates>    
    <app-modal-header [title] = 'selectedTemplate[0]["name"]'></app-modal-header>
    <div class="modal-body">
        <app-payments-templates-modal [templatesData] = 'selectedTemplate'></app-payments-templates-modal>
    </div>

</ng-template>

<ng-template #mobileModal>    
    <app-modal-header [title] = 'mobileModalTitle'></app-modal-header>
    <div class="modal-body">
        <app-payments-mobile-modal [billersList] = 'mobileBillersList'></app-payments-mobile-modal>
    </div>

</ng-template> 

