<div class="contact">
    <div class="contact__title">
        <h4>მომხმარებლის პაროლის შეცვლა</h4>
    </div>


    <div class="contact__inputs">
        <div class="contact__inputs__item mt-5">
            <input type="password"
                    placeholder="მიმდინარე პაროლი:"
                    class="deafult-input"
                    id="mobile">
        </div>

        <div class="contact__inputs__item py-4">
            <input type="password"
                    placeholder="ახალი პაროლი:"
                    id="email"
                    class="deafult-input">
        </div>

        <div class="contact__inputs__item">
            <input type="password"
                    placeholder="დაადასტურეთ ახალი პაროლი:"
                    class="deafult-input"
                    id="email">
        </div>

        <div class="contact__buttons d-flex justify-content-end">
            <button class="btn--dark">
                დადასტურება
            </button>
        </div>

    </div>
</div>