<div class="card box p-4">
    <div class="card__title w-100 mt-3 pb-4 d-flex justify-content-center">
        <h3>{{'fill_ballance.fill_ballance_with_bank_card' | translate}}</h3>
    </div>
    <div class="row justify-content-around m-0 ">
        <div class="card__content col-lg-4 box p-3 mb-4">
            <div class="card__content__img d-flex justify-content-center">
                <div class="card__content__img__container">
                    <img src="assets/img/tbc-logo.png" alt="">
                </div>
            </div>
          
            <div class="card__content__button d-flex justify-content-center mt-2">
                <button class="btn btn--red"
                        (click)="openModal('TBC',tbcModal)">
                         {{ 'fill_ballance.select' | translate }}    
                </button>
            </div>
        </div>
    
        <div class="card__content col-lg-4 box p-3">
            
            <div class="card__content__img d-flex justify-content-center">
                <div class="card__content__img__container">
                    <img src="assets/img/payge.jpg" alt="">
                </div>
            </div>
          
            <div class="card__content__button d-flex justify-content-center mt-2">
                <button class="btn btn--red" 
                        (click)="openModal('Pay.ge', paygeModal)">
                    {{ 'fill_ballance.select' | translate }}    
                </button>
            </div>
        </div>
    </div>
    
</div>


<ng-template #tbcModal>
    <app-modal-header [title] = 'modalTitle'></app-modal-header>
    <app-fill-ballance-tbc></app-fill-ballance-tbc>
</ng-template>


<ng-template #paygeModal>
    <app-modal-header [title] = 'modalTitle'></app-modal-header>
    <app-fill-ballance-payge></app-fill-ballance-payge>
</ng-template>
