.pay {

    &__box {

        &__img {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            &__container {
                max-width: 239.35px;
                max-height: 165.94px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }; 

        &__button {
            padding-top: 35px;
            padding-bottom: 20px;
        }
    }
}