<div class="row pay box justify-content-around p-5 m-0">
    
    <div class="pay__title mb-4 col-12 d-flex justify-content-center">
        <h3> {{ 'payments.payments' | translate }} </h3>
    </div>

    <div class="pay__box box col-lg-4">
        <div class="pay__box__img">
            <div class="pay__box__img__container">
                <img src="assets/img/online_payment.svg" alt="">
            </div>
        </div>
        <div class="pay__box__button d-flex justify-content-center">
            <button class="btn btn--red"
                    (click)="routeToBillers()">
                {{ 'payments.new_payment' | translate }}    
            </button>
        </div>
    </div>

    <div class="pay__box box col-lg-4">
        <div class="pay__box__img">
            <div class="pay__box__img__container">
                <img src="assets/img/money_transfer.svg" alt="">
            </div>
        </div>
        <div class="pay__box__button d-flex justify-content-center">
            <button class="btn btn--red"
                    (click)="openModal(modalContent)">
                {{ 'payments.fill_mobile_ballance' | translate }}    
            </button>
        </div>
    </div>
</div>


<div class="templates box m-0 mt-4 p-5 justify-content-between">
    <div class="templates__title col-12 d-flex justify-content-center">
        <h3>
            {{ 'payments.pay_with_templates' | translate }}    
        </h3>
    </div>

    <app-payments-templates ></app-payments-templates>
    

</div> 


<ng-template #modalContent>    
    <app-modal-header [title] = 'modalTitle'></app-modal-header>
    <div class="modal-body">
        <app-payments-mobile-modal [billersList] = 'mobileBillers'></app-payments-mobile-modal>
    </div>

</ng-template>