@import  'src/assets/variables';
.modal-header {
    background-color: white;
    border-bottom: 3px solid $primary;

    color: $dark-blue;
}

button {
    outline: none;
    span {
        color: $dark-blue;
    };
};