.register {
    padding: 40px;
    &__item {

        label {
            font-size: 14px;
        }
  
        input{
            background-color: #E6EAEE;
            border-color: #E6EAEE;
            border-radius: 5px;
            height: 40px;
            text-align: center;
            width: 350px;
            text-align: left;
            padding-left: 20px;
        }
    }; 
}