<div class="profile">
    <div class="profile__header">
        <div class="profile__header__head w-100 px-5">
            <app-user-prof-header></app-user-prof-header>
        </div>
        <div class="profile__navigation w-100 px-5">
            <app-user-prof-navigation></app-user-prof-navigation>
        </div>
       
    </div>
    <div class="profile__content mt-5 pb-5">
        <div class="container p-0">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>