<div class="row box contact">
   <div class="contact__box col-12 p-4">
       <div class="contact__box__headline col-12 pb-3">
           <h3>კონტაქტი</h3>
       </div>  
        <div class="contact__box__title col-12">
            <p>ცხელი ხაზი: (032) 22 91122</p>
        </div>
        <div class="contact__box__text col-12">
            <p>ელ.ფოსტა: info@kerketi.ge</p>
        </div>
        <div class="contact__box__text col-12 ">
            <p>www.facebook.com/kerketi</p>
        </div>
        <div class="contact__box__text col-12">
            <p>Skype: kerketi.ge</p>
        </div>
        

        <div class="contact__box__title col-12">
            <p>ჩვენი მისამართია:</p>
        </div>
        <div class="contact__box__text col-12">
            <p>ს.ს. “მობაილ ფაინენს სერვის – ჯორჯია”</p>
        </div>
        <div class="contact__box__text col-12">
            <p>საქართველო, თბილისი – 0102, კოტე მარჯანიშვილის ქუჩა N 5</p>
        </div>
   </div>
   
    
</div>