//  * *  Colors * *  
$primary: #E96770; 
$green: #14B1AB; 
$light-blue: #1F4287; 
$dark-blue: #071E3D; 
$white: #ffff;
$light-grey: #E6EAEE; 
$dark-grey: #CCD0D4; 

$cyan: #21E6C1; 
$dark-white: rgb(252 252 252);



