<div class="row home">

    <div class="home__left col-lg-9 p-0">
        <div class="home__left__container">

            <div class="home__left__container__wallets">
                <app-wallets></app-wallets>
            </div>

            <div class="home__left__transactions mt-4">
                <app-last-transactions></app-last-transactions>
            </div>

        </div>
    </div>

    <div class="home__right col-lg-3">
        <app-exchange-currency-rate></app-exchange-currency-rate>
    </div>
    
</div>