<div class="cur row">
    <div class="cur__title col-12">
        <div class="py-3">
            <h4>ოფიციალური კურსები</h4>
        </div>
    </div>

    <div class="cur__line row justify-content-between p-2 m-0 w-100 ">
        <div class="cur__line__img col-lg-1">
            <div class="cur__line__img__container">
                <img src="assets/img/flags/us.png" alt="">
            </div>
        </div>

        <div class="cur__line__currency col-lg-4">
            <p>USD</p>
        </div>

        <div class="cur__line__rate col-lg-4">
            <p>₾ 3.075</p>
        </div>
    </div>

    <div class="cur__line row justify-content-between p-2 m-0 w-100 ">
        <div class="cur__line__img col-lg-1">
            <div class="cur__line__img__container">
                <img src="assets/img/flags/eu.png" alt="">
            </div>
        </div>

        <div class="cur__line__currency col-lg-4">
            <p>EUR</p>
        </div>

        <div class="cur__line__rate col-lg-4">
            <p>₾ 3.075</p>
        </div>
    </div>

    <div class="cur__line row justify-content-between p-2 m-0 w-100 ">
        <div class="cur__line__img col-lg-1">
            <div class="cur__line__img__container">
                <img src="assets/img/flags/gb.png" alt="">
            </div>
        </div>

        <div class="cur__line__currency col-lg-4">
            <p>GBP</p>
        </div>

        <div class="cur__line__rate col-lg-4">
            <p>₾ 3.075</p>
        </div>
    </div>


</div>