@import 'src/assets/variables';

.cur {
    background-color: white;
    border-radius: 10px;

    &__title {
        background-color: rgb(244, 244, 244);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        h4 {
            font-size: 16px;
        }
    }

    &__line {
        border-bottom: 1px solid $light-grey;
        align-items: center;
        &__currency {
            font-weight: bolder;
            p {
                margin: 0;
            }
        };

        &__rate {
            font-weight: bolder;
            p {
                margin: 0;
                font-size: 15px;
            }
        }
    }
}  