/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'src/assets/variables'; 

body,html {
//    height: 100vh;
   background-color: #E6EAEE !important;
   padding: 0;
   margin: 0;
   scrollbar-width: none;
   overflow-y: overlay;
   font-family: 'BPG Mrgvlovani' !important;


}; 
   
//  * * Fonts * * 

    @font-face {
        font-family: "GA Ristra";
        src: url(assets/fonts/tanamedrovea.ttf);
    };

    @font-face {
        font-family: "BPG Mrgvlovani";
        src: url(assets/fonts/bpg-mrgvlovani-webfont.ttf);
    };

  @font-face {
    font-family: "BPG WEB 002 Caps";
    src: url(assets/fonts/bpg-web-002-caps-webfont.ttf);
  };

  @font-face {
    font-family: "BPG WEB 001 Caps";
    src: url(assets/fonts/bpg-web-001-caps-webfont.ttf);
  };

  

  


   
  

.btn--primary { 
    background-color: $primary;
    color: $white;
    font-size: 14px; 
    box-shadow: none !important;
    font-weight: bold;
}; 

.btn--dark {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: white;
    width: auto;   
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    outline: none !important;
    box-shadow: none !important;

   
    &:hover {
        background-color: #071e3dd6;
        transition: .4s;
    }
};


.btn--red {
    border: 1px solid #646464;
    background-color: transparent;
    transition: .3s;
    width: 160px;
    margin-left: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0 1.25rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 4px;
    transition: .3s;
    height: 40px;
  

    &:hover {
        background-color: #db0011;
        color: #fff;
        border-color: transparent;
    }
}



.btn--green {  
    background-color: $green !important;
    color: $white !important;
    font-size: 14px !important; 
    box-shadow: none !important;
    padding: 8px 20px !important;
   
    &:hover {
        background-color: #14b1acd9 !important;
        transition: .4s;
    }

}; 
 
 
input {
    border: 1px solid $light-blue;
    outline: none;

    &:focus {
        box-shadow: none;
    }
};

h3 { 
    font-size: 65px !important;
    font-family: 'GA Ristra';
    color: $light-blue;
    margin: 0;
}; 

.invalid {
    border-color: $primary; 
}; 

.box {
    background-color: $white;
    border-radius: 10px;   
    box-shadow: 0px 3px 6px#CCCCCC;
    background-color: #fcfcfcbf;
};

.deafult-input {
    background-color: #E6EAEE;
    border-color: #E6EAEE;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
    border: 3px solid transparent;
    &:focus {
        border: 3px solid $light-blue;
        background-color: white;
    }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
