<div class="row info box">
    <div class="info__box p-4">
        <div class="info__title col-12">
            <h3>რა არის კერკეტი</h3>
        </div>
        <div class="info__text">
             <div class="info__text__title col-12">
                 <p>კერკეტი არის მობილური საფულე - მობილური ტელეფონის მეშვეობით ფულის გაგზავნის და გადახდის სერვისი</p>
             </div>
        </div>
     
         <div class="info__title col-12">
             <p>კერკეტის ხიბლი იმაშია რომ ნებისმიერი გადარიცხვა ან გადახდა მობილური ტელეფონით ხდება, ნებისმიერ დროს და ნებისმიერი ადგილიდან - სადაც კი მობილური "იჭერს". კერკეტით სარგებლობისთვის არ გჭირდებათ ინტერნეტი ან საბანკო ანგარიში</p>
         </div>
     
         <div class="info__title col-12">
             <p>კერკეტით შეგიძლიათ: მიიღოთ ან გააგზავნოთ ფული ნებისმიერ მობილურ ნომერზე; განახორციელოთ სხვადასხვა გადახდები; შეავსოთ ნებისმიერი მობილური ტელეფონის ბალანსი; მიიღოთ გზავნილები უცხოეთიდან; გადაცვალოთ ვალუტა, და მიიღოთ მრავალი სხვა მომსახურება და სარგებელი</p>
         </div>
     
         <div class="info__title col-12">
             <p>კერკეტი მუშაობს ყველა ქართულ მობილურ ქსელში და ყველა მობილური ტელეფონის მოდელზე</p>
         </div>
         
         <div class="info__title col-12">
             <p>კერკეტით სარგებლობა არის სწრაფი, კომფორტული და უსაფრთხო</p>
         </div>
     </div>
     
     
    </div>
   