@import 'src/assets/variables'; 

.transfer {

    &__box {

        &__item {

            input {
                width: 100%;
                border: 1px solid $light-blue;
                height: 40px;
                outline: none;
                padding-left: 10px;
            };
            
            label {
                width: 100%;
                text-align: left;
                cursor: pointer;
                color: $light-blue;
            }

        }
    }
}

.sms {
    background-color: transparent;
    border: none;
    height: 100%;
    color: white;
    font-size: 14px;

}