<div class="container">
    <div class="row header m-0">
        <div class="header__logo col-3">
            <div class="header__logo__container">
                <img (click)="routeToHome()" src="assets/img/kerketi.png" alt="">
            </div>
        </div>
        <div class="header__nav col-9">
            
                <div class="header__nav__item col-3">
                    <a [routerLink]="['/main/about-us']" 
                       routerLinkActive="router-link-active" >
                        {{ 'login_header.about_us' | translate }}
                    </a>  
                </div>
                <div class="header__nav__item col-3">
                    <a [routerLink]="['/main/how-it-works']" 
                       routerLinkActive="router-link-active" >
                       {{ 'login_header.how_it_works' | translate }}
                    </a> 
                </div>
                <div class="header__nav__item col-3">
                    <a [routerLink]="['/main/contact']"   
                       routerLinkActive="router-link-active" >
                        {{ 'login_header.contact' | translate }}
                    </a> 
                </div>
                <div class="header__nav__item col-1 p-0 d-flex justify-content-end">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
        </div>
        <div class="burger">
           <app-burger></app-burger>
        </div>
    </div>
</div>