@import 'src/assets/variables'; 

.suc {

    &__img {
        font-size: 5rem; 
        color: #f1c40f;
        text-align: center;
    }; 

    &__title {
        font-size: 1rem;
        margin-top: .2rem;
        text-align: center;

    }; 

    &__text {
        // margin-top: 3.5rem;
        // font-size: 1.7rem;
        text-align: center;
    }; 

    &__btn {
        text-align: center;
        p {
            color: $primary;
            font-size: 1.2rem;
            margin-top: 1.4rem;
            cursor: pointer;
            display: inline;

        }; 
    }



}
