<div class="info row">
        <div class="info__box p-4">
            <div class="info__box__title col-12">
                <h3>როგორ მუშაობს</h3>
            </div>
            <div class="">
                <div class="info__box__text__title col-12">
                    <p>კერკეტი მარტივია: რეგისტრირდებით → ავსებთ საფულეს → სარგებლობთ</p>
                </div>
                <div class="info__box__text__description col-12">
                    <span>საფულის შევსება შესაძლებელია: გადახდის აპარატებით, კერკეტის აგენტებთან, პლასტიკური ბარათით, კერკეტის სხვა მომხმარებლის მიერ გაკეთებული ჩარიცხვით, საერთაშორისო გადარიცხვის მიღებით, საბანკო გადარიცხვით
                        საფულიდან თანხის განაღდება შეგიძლიათ კერკეტის აგენტების ფართო ქსელში
                        </span>
                </div>
            </div>
        
            <div class="">
            <div class="info__box__text__title col-12">
                <p>კერკეტი მუშაობს ყველა ქართულ მობილურ ქსელში და ყველა მოდელის მობილურ ტელეფონზე sms-ბრძანებების გამოყენებით</p>
            </div>
            <div class="info__box__text__description col-12">
                <span>თუ თქვენს ტელეფონს აქვს Java-მხარდაჭერა, შეგიძლიათ მარტივად ჩამოტვირთოთ Java-აპლიკაცია, რაც კერკეტის გამოყენებას უფრო მოსახერხებელს გახდის
                    თუ გაქვთ სმარტფონი (Android, IPhone, Windows Mobile, Blackberry), უახლოეს მომავალში შემოგთავაზებთ შესაბამის Smart-აპლიკაციას. მანამდე გთხოვთ       ისარგებლოთ sms-ბრძანებებით            
                    </span>
            </div>
        </div>
     </div>
    </div>
   