<div class="box d-flex justify-content-center py-5">
    <div class="transfer__box box col-7 row ">
        <div class="transfer__box__title col-12">
            <h3>{{ 'transfer_funds.p2p' | translate }}</h3>
       </div>
       
       <form [formGroup]="transactionForm"
             (ngSubmit)="onSubmit(transactionForm, showSent)"
             class="h-100 w-100 px-5"
             >
     <div class="transfer__box__item col-12 ">
            <label for="receiverName">Reciever name</label>
             <input  type="text" 
                     id="receiverName"
                     placeholder=""
                     formControlName="receiverName"
                     [ngClass]="{ invalid: f.receiverName.errors && isSubmitted }"
                     class="width-input">
     </div>
     <div class="transfer__box__item col-12 mt-3">
         <label for="transferTo">Reciever Phone</label>
         <input  type="text" 
                 id="transferTo"
                 placeholder=""
                 formControlName="transferTo"
                 [ngClass]="{ invalid: f.transferTo.errors && isSubmitted }"
                 class="width-input">
     </div>
     <div class="transfer__box__item col-12 mt-3 ">
         <label for="amount">Amount</label>
         <div class="d-flex">
             <input type="text" 
                    id="amount"
                    placeholder=""
                    class="width-input"
                    formControlName="amount"
                 [ngClass]="{ invalid: f.amount.errors && isSubmitted }"
                 >
             <div class="currency col-2">
                 <select class="m-0" 
                         name="currency" 
                         >
                     <option value="GEL" [selected] ="true">GEL</option>
                     <!-- <option value="USD">USD</option> -->
                 </select>
             </div>
         </div>
     </div>
     <div class="transfer__box__item col-12 mt-3">
         <label for="description">Description</label>
         <input type="text" 
                id="description"
                placeholder=""
                formControlName="description"
                [ngClass]="{ invalid: f.description.errors && isSubmitted }"
                class="width-input">
     </div>
     <div class="transfer__box__item col-12 mt-3 ">
         <label for="sms">SMS code</label>
         <div class="d-flex">
            <input type="text" 
                placeholder="" 
                id="sms"
                class="width-input" 
                [ngClass]="{ invalid: f.otp.errors && isSubmitted }"
                formControlName="otp"
                >
         <div class="sms col-2">
             <button class="right-button" 
                     (click) = 'getOtp()' 
                     *ngIf="!isTimerActive" 
                     type="button"
                     >SMS
             </button>
             <button class="right-button" 
                     *ngIf="isTimerActive" 
                     type="button" 
                     disabled
                     style="background-color: #2ecc71;">Code is sent</button>
         </div>
         </div>
         
     </div>
     <div class="transfer__box__buttons col-12 d-flex justify-content-between mt-5">
         <div class="w-100 d-flex justify-content-center" 
             *ngIf="!isLoading else showLoading"
             >
             <button class="btn btn--green" 
                     type="submit" 
                     >
                 Send
             </button>
         </div>
         <ng-template #showLoading>
             <div class="col-md-9 d-flex justify-content-center">
                 <app-loading-spinner></app-loading-spinner>
             </div>
         </ng-template>
     </div>
     <div class="transfer__box__error">
         <div class="col-12" *ngIf="isError">
             <p> {{ errorMsg }} </p>
         </div>
     </div>
    </form> 
    
    </div>
   

</div>

<ng-template #showSent>
    <ng-container *ngIf="!isError; else showErr">
    
        <app-modal-header [title] = '"Success"'></app-modal-header>
        <!-- <app-transaction-processing (result) = 'getModalResult($event)'></app-transaction-processing> -->
    
    </ng-container>
    <ng-template #showErr>
        <app-modal-header [title] = '"Error"'></app-modal-header>
        <app-transaction-fail></app-transaction-fail>
    </ng-template>
</ng-template>
