@import 'src/assets/variables'; 

.transfer {

    &__box {
        padding: 30px;
        &__title {
            h3 {
                text-align-last: center;
            }; 
        }; 

        &__item {

            input {
                width: 100%;
                border: 1px solid $light-blue;
                height: 40px;
                outline: none;
            }; 

            label {
                font-size: 14px;
                color: $light-blue;
                cursor: pointer;
            }
        }
    }
};


.currency {

    background-color: #758192;

    select {
        background-color: transparent;
        border: none;
        height: 100%; 
        color: white;
        font-size: 14px;
    }
};

.sms {

    background-color: #758192;

    button {
        background-color: transparent;
        border: none;
        height: 100%; 
        color: white;
        font-size: 14px;
    }
}