<ng-container *ngIf="allRegisteredCads.length > 0; else showLoading">
    <div class="cards" *ngFor="let item of allRegisteredCads">
        <div class="cards__item d-flex"
             (click)="onChooseTemplate(item)">

            <div class="cards__item__img col-4">
                <div class="cards__item__img__container">
                    <img src="assets/img/card.png" alt="">
                </div>
            </div>
            <div class="cards__item__name col-8">
                <p> {{ item.cardName }} </p>
            </div>
 
        </div>
    </div>
</ng-container>

<ng-template #showLoading>
    <div class="d-flex justify-content-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-template>

